<div>
    <script id="page-select-partial" type="text/x-handlebars-template">
        <div class="form-group page-selector">
            <label class="col-sm-2 control-label">页面</label>
            <div class="col-sm-10">
                <select class="form-control" name="page" id="pageSelect">
                    {{#each pages}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </script>
    <script id="page-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" id="pageForm" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">页面类型</label>
                <div class="col-sm-10">
                    <select class="form-control related" name="type" id="type" data-related=".parent-page-selector@sub@pages">
                        <option value="_main_" select=true>主页面</option>
                        <option value="_sub_">子页面</option>
                    </select>
                </div>
            </div>
            <div class="form-group hide parent-page-selector">
                <label class="col-sm-2 control-label">父页面</label>
                <div class="col-sm-10">
                    <select class="form-control hide" name="parent" id="parentPageSelect">
                        
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">路由</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="pathto" value="{{pathto}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">隐藏</label>
                <div class="col-sm-10">
                    <input class="form-control" type="checkbox" name="hide" value="{{hide}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">位置</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" value="{{postion}}" name="postion">
                </div>
            </div>
        </form>
    </script>
    <script id="content-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" id="contentForm" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            {{> page-select-partial}}
            <div class="form-group">
                <label class="col-sm-2 control-label">页面模板</label>
                <div class="col-sm-10">
                    <select class="form-control tpl-selector" name="tpl" id="tpl">
                        <option value="">-请选择-</option>
                        {{#each tpls}}
                        {{#if @index}}
                        <option value="{{name}}">{{cnName}}</option>
                        {{ else }}
                        <option value="{{name}}" select=true>{{cnName}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
        </form>
    </script>

    <script id="page-cog-list-item-partial" type="text/x-handlebars-template">
        <li class="list-item" data-id="{{id}}">
            <span>{{name}}</span>
            <div class="actions">
                <i class="up">上移</i>
                <i class="down">下移</i>
            </div>
        </li>
    </script>

    <script id="page-cog-partial" type="text/x-handlebars-template">
        <div class="tab-container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation"><a data-toggle="tab" href="#pSSub" aria-expanded="false">子页面</a></li>
                <li role="presentation"><a data-toggle="tab" href="#pSContent" aria-expanded="false">页面内容</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="pSSub">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <h3>子页面列表</h3>
                            </div>
                            <div class="navbar-collapse collapse" aria-expanded="false">
                                <button class="btn btn-primary navbar-btn navbar-right select-content-list" data-type="pages" type="button">
                                    <i class="fa fa-plus"></i>添加子页面
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="list-content">
                        <ul class="lists">
                            {{#each subs}}
                               {{> page-cog-list-item-partial}} 
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="pSContent">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <h3>模板内容列表</h3>
                            </div>
                            <div class="navbar-collapse collapse" aria-expanded="false">
                                <button class="btn btn-primary select-content-list navbar-btn navbar-right" data-type="contents" type="button">
                                    <i class="fa fa-plus"></i>添加模板内容
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="list-content">
                        <ul class="lists">
                            {{#each contents}}
                                {{> page-cog-list-item-partial}} 
                            {{/each}}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="post-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" id="pageForm" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" placeholder="请输入页面标题" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="abstract">文章摘要</label>
                <div class="col-sm-10 textarea abstract">
                    <textarea class="form-control"  name="abstract">{{abstract}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="content">页面文章</label>
                <div class="col-sm-10 textarea content">
                    <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="publishedDate">发布时间</label> {{> datepicker-tpl-partial formName='publishedDate'}}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="published">是否公开</label>
                <input type="checkbox" name="published" value="{{published}}">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">封面图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
        </form>
    </script>
    <script id="photo-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" id="pageForm" role="form">
            <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
            <div class="form-group text-center">
                <img src="{{imagePath}}" />
            </div>
        </form>
    </script>
    <script id="slide-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" id="pageForm" role="form">
            <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">选择图片</label>
                <div class="col-sm-10">
                    <button class="btn btn-primary select-content-list" data-type="photos" type="button">点击选择</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">已选择的图片</label>
                <div class="col-sm-10 result-container">
                    
                </div>
            </div>
            {{> page-select-partial}}
        </form>
    </script>
    <script id="news-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" id="pageForm" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="link">新闻链接</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="link" value="{{link}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="abstract">文章摘要</label>
                <div class="col-sm-10 textarea abstract">
                    <textarea class="form-control"  name="abstract">{{abstract}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="content">新闻文章</label>
                <div class="col-sm-10 textarea content">
                    <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="publishedDate">发布时间</label> {{> datepicker-tpl-partial formName='publishedDate'}}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="published">是否公开</label>
                <input type="checkbox" name="published" value="{{published}}">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">封面图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
        </form>
    </script>
    <script id="qa-form-partial" type="text/x-handlebars-template">
    <form class="form-horizontal admin-form form" id="pageForm" role="form">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" placeholder="请输入问答标题" />
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 control-label" for="abstract">文章摘要</label>
            <div class="col-sm-10 textarea abstract">
                <textarea class="form-control"  name="abstract" >{{abstract}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="content">问答文章</label>
            <div class="col-sm-10 textarea content">
                <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="publishedDate">发布时间</label> {{> datepicker-tpl-partial formName='publishedDate'}}
        </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="published">是否公开</label>
            <input type="checkbox" name="published" value="{{published}}">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">封面图片</label>
            <div class="col-sm-10">
                <input type="file" class="form-control file" name="file" id="file" />
                <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
            </div>
        </div>
    </form>
    </script>
    <script id="grid-form-partial" type="text/x-handlebars-template">
    <form class="form-horizontal admin-form form" id="pageForm" role="form">
     <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="{{name}}" />
            </div>
        </div>
        {{> page-select-partial}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Grid模板</label>
            <div class="col-sm-10">
                <select class="form-control" name="tpl" id="tpl" >
                    <option value="tpl1" select=true>模板一</option>
                    <option value="tpl2">模板二</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Grid内容</label>
            <div class="col-sm-10">
                <select class="form-control muti-content" name="content" id="content">
                    <option value="news" select=true>新闻</option>
                    <option value="qas">问答</option>
                    <option value="posts">文章</option>
                    <option value="photos">图片</option>
                </select>
            </div>
        </div>
    </form>
    </script>
</div>