<div>
    <script id="page-select-partial" type="text/x-handlebars-template">
        <div class="form-group page-selector">
            <label class="col-sm-2 control-label">页面</label>
            <div class="col-sm-10">
                <select class="form-control" name="page" id="pageSelect">
                    {{#each pages}}
                    <option value="{{name}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </script>
    <script id="category-select-partial" type="text/x-handlebars-template">
        <div class="form-group category-selector">
            <label class="col-sm-2 control-label">类别</label>
            <div class="col-sm-10">
                <select class="form-control" name="category" id="categorySelect">
                    {{#each categories}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </script>
    <script id="page-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    {{#if name}}
                        <p class="form-control-static">{{name}}</p>
                    {{else}}
                        <input type="text" class="form-control" name="name" value="{{name}}" />
                    {{/if}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="type" id="type" value="_main_" />
                </div>
            </div>
            {{!-- <div class="form-group">
                <label class="col-sm-2 control-label">页面类型</label>
                <div class="col-sm-10">
                    <select class="form-control related" name="type" id="type" data-related=".parent-page-selector@sub@pages">
                        <option value="_main_" select=true>主页面</option>
                        <option value="_sub_">子页面</option>
                    </select>
                </div>
            </div> --}}
            {{!-- <div class="form-group hide parent-page-selector">
                <label class="col-sm-2 control-label">父页面</label>
                <div class="col-sm-10">
                    <select class="form-control hide" name="parent" id="parentPageSelect">
                        
                    </select>
                </div>
            </div> --}}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">路由</label>
                <div class="col-sm-10">
                    {{#if pathto}}
                        <p class="form-control-static">{{pathto}}</p>
                    {{else}}
                        <input type="text" class="form-control" name="pathto" value="{{pathto}}" />
                    {{/if}}
                </div>
            </div>
            {{!-- <div class="form-group">
                <label class="col-sm-2 control-label">隐藏</label>
                <div class="col-sm-10">
                    <input class="form-control" type="checkbox" {{#ifCond checked '||' published}}checked="checked" {{/ifCond}} name="hide" value="{{hide}}">
                </div>
            </div> --}}
            {{!-- <div class="form-group">
                <label class="col-sm-2 control-label">位置</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" value="{{postion}}" name="postion">
                </div>
            </div> --}}
        </form>
    </script>
    <script id="content-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group text-danger">
                <label class="col-sm-2 control-label">注意</label>
                <div class="col-sm-10">
                    <span class="help-block">请先输入名称，然后再选择页面模板，最后再点击保存！</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">页面模板</label>
                <div class="col-sm-10">
                    <select class="form-control tpl-selector" name="tpl" id="tpl">
                        <option value="">-请选择-</option>
                        {{#each tpls}}
                        {{#if @index}}
                        <option value="{{name}}">{{cnName}}</option>
                        {{ else }}
                        <option value="{{name}}" select=true>{{cnName}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
        </form>
    </script>

    <script id="page-cog-list-item-partial" type="text/x-handlebars-template">
        <li class="list-item col-md-12" data-id="{{id}}">
            <span>{{name}}</span>
            <div class="pull-right actions">
                <span class="btn btn-warning btn-xs remove"><i class="fa fa-remove"></i>移除</span>
                <span class="btn btn-default btn-xs up"><i class="fa fa-arrow-up"></i>上移</span>
                <span class="btn btn-default btn-xs down"> <i class="fa fa-arrow-down"></i>下移</span>
            </div>
        </li>
    </script>

    <script id="page-cog-partial" type="text/x-handlebars-template">
        <div class="tab-container">
            <ul class="nav nav-tabs" role="tablist">
                {{!-- <li class="active" role="presentation"><a data-toggle="tab" href="#pSSub" aria-expanded="false">子页面</a></li> --}}
                <li class="active" role="presentation"><a data-toggle="tab" href="#pSContent" aria-expanded="false">页面内容</a></li>
            </ul>
            <div class="tab-content">
                {{!-- <div class="tab-pane active" id="pSSub">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <h3>子页面列表</h3>
                            </div>
                            <div class="navbar-collapse collapse" aria-expanded="false">
                                <button class="btn btn-primary navbar-btn navbar-right select-content-list" data-type="pages" type="button">
                                    <i class="fa fa-plus"></i>添加子页面
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="list-content panel panel-default">
                        <ul class="row ul-inline lists">
                            {{#each subs}}
                               {{> page-cog-list-item-partial}} 
                            {{/each}}
                        </ul>
                    </div>
                </div> --}}
                <div class="tab-pane active" id="pSContent">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <h3>模板内容列表</h3>
                            </div>
                            <div class="navbar-collapse collapse" aria-expanded="false">
                                <button class="btn btn-primary select-content-list navbar-btn navbar-right" data-type="contents" data-action="{{page.name}}" type="button">
                                    <i class="fa fa-plus"></i>添加模板内容
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="list-content panel panel-default">
                        <ul class="lists ul-inline">
                            {{#each contents}}
                                {{> page-cog-list-item-partial}} 
                            {{/each}}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="post-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" placeholder="请输入页面标题" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="abstract">文章摘要</label>
                <div class="col-sm-10 textarea abstract">
                    <textarea class="form-control"  name="abstract">{{abstract}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="content">页面文章</label>
                <div class="col-sm-10 textarea-editable content">
                    <textarea class="editable form-control" id="simplemde" name="content">{{content}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="publishedDate">发布时间</label> {{> datepicker-tpl-partial formName='publishedDate'}}
            </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="published">是否公开</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" type="checkbox" {{#ifCond checked '||' published}}checked="checked" {{/ifCond}} name="published" value="{{published}}">
                            </label>
                        </div></div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">封面图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
        </form>
    </script>
    <script id="photo-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
            {{#if needLink}}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="link">内容链接</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="link" value="{{link}}" />
                    </div>
                </div>
            {{/if}} 
            {{#if needPageSelect}}
                {{> page-select-partial}}
            {{/if}}
        </form>
    </script>
    <script id="photo-with-page-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
            <div class="form-group text-center">
                <img src="{{imagePath}}" />
            </div>
            {{> page-select-partial}}
        </form>
    </script>
    <script id="slide-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" mrole="form">
            <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">选择图片</label>
                <div class="col-sm-10">
                    <button class="btn btn-primary select-content-list" data-type="photos" data-action="slide" type="button">点击选择</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">已选择的图片</label>
                <div class="col-sm-10 result-container">
                    
                </div>
            </div>
            {{> page-select-partial}}
        </form>
    </script>
    <script id="news-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="link">新闻链接</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="link" value="{{link}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="abstract">新闻摘要</label>
                <div class="col-sm-10 textarea abstract">
                    <textarea class="form-control"  name="abstract">{{abstract}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="content">新闻内容</label>
                <div class="col-sm-10 textarea-editable content">
                    <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="publishedDate">发布时间</label> {{> datepicker-tpl-partial formName='publishedDate'}}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="published">是否公开</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" type="checkbox" {{#ifCond checked '||' published}}checked="checked" {{/ifCond}} name="published" value="{{published}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">封面图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
        </form>
    </script>
    <script id="snippets-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{{title}}" />
                </div>
            </div>
            {{#if needDescription}}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">介绍</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description">{{description}}</textarea>
                    </div>
                </div>
            {{/if}}
            {{#if needContent}}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="content">内容</label>
                    {{#if isNormalContent}}
                        <div class="col-sm-10 textarea content">
                            <textarea class="form-control" name="content">{{content}}</textarea>
                    {{else}}
                        <div class="col-sm-10 textarea-editable content">
                            <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
                    {{/if}}
                    </div>
                </div>
            {{/if}}
            
            <div class="form-group">
                <label class="col-sm-2 control-label" for="published">是否公开</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" type="checkbox" {{#ifCond checked '||' published}}checked="checked" {{/ifCond}} name="published" value="{{published}}">
                        </label>
                    </div>
                </div>
            </div>
            {{#if select}}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="selectorLinks">{{select.title}}</label>
                    <div class="col-sm-10">
                        <button class="btn btn-primary select-content-list" data-type="{{select.type}}" type="button">点击选择</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">已选择的内容</label>
                    <div class="col-sm-10 select-content-results"> 
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            {{/if}}
            {{#if needCover}}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="file">封面图片</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control file" name="file" id="file" />
                        <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                    </div>
                </div>
            {{/if}}
        </form>
    </script>
    <script id="qa-form-partial" type="text/x-handlebars-template">
    <form class="form-horizontal admin-form form" role="form">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" placeholder="请输入问答标题" />
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 control-label" for="abstract">问答摘要</label>
            <div class="col-sm-10 textarea abstract">
                <textarea class="form-control"  name="abstract" >{{abstract}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="content">问答内容</label>
            <div class="col-sm-10 textarea-editable content">
                <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="publishedDate">发布时间</label> {{> datepicker-tpl-partial formName='publishedDate'}}
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="published">是否公开</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" type="checkbox" {{#ifCond checked '||' published}}checked="checked" {{/ifCond}} name="published" value="{{published}}">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">封面图片</label>
            <div class="col-sm-10">
                <input type="file" class="form-control file" name="file" id="file" />
                <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
            </div>
        </div>
    </form>
    </script>
    <script id="category-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">usage</label>
                <div class="col-sm-10">
                    <select class="form-control" name="usage">
                        <option value="1" select=true>Root</option>
                        <option value="2">Sub</option>
                    </select>
                </div>
            </div>
        </form>
    </script>
    <script id="link-form-partial" type="text/x-handlebars-template">
        <form class="form-horizontal admin-form form" role="form">
            <div class="form-group text-danger">
                <label class="col-sm-2 control-label">注意</label>
                <div class="col-sm-10">
                    <span class="help-block">输入的链接请带https或者http前缀</span>
                </div>
            </div>
            <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{name}}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="link">链接</label>
                <div class="col-sm-10">
                     <input type="text" class="form-control" name="link" value="{{link}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="file">图片</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control file" name="file" id="file" />
                    <p class="fieldset info text-right"><span class="text-warning text-info">图片格式只支持gif、jpg或者png！</span></p>
                </div>
            </div>
        </form>
    </script>
</div>