<div>
    <script id="page-item-partial" type="text/x-handlebars-template">
    </script>
    <script id="post-item-partial" type="text/x-handlebars-template">
    <div class="bs-example" data-example-id="horizontal-dl">
        <dl class="dl-horizontal">
            <dt name="id" id="id" class="hidden">{{id}}</dt>
            <dt for="title">标题</dt>
            <dd name="title">{{title}}</dd>
            <dt for="abstract">文章摘要</dt>
            <dd name="abstract">{{abstract}}</dd>
            <dt for="content">页面文章</dt>
            <dd name="content">{{content}}</dd>
            <dt for="publishedDate">发布时间</dt>
            <dd name="publishedDate">{{publishedDate}}</dd>
            <dt for="published">是否公开</dt>
            <dd name="published">{{published}}</dd>
             <dt for="file">封面图片</dt>
            <dd name="file"></dd>

        </dl>
    </div>
  
    </script>

    <script id="qa-item-partial" type="text/x-handlebars-template">
   
    <dl class="dl-horizontal">
            <dt name="id" id="id" class="hidden">{{id}}</dt>
            <dt for="title">标题</dt>
            <dd name="title">{{title}}</dd>
            <dt for="abstract">文章摘要</dt>
            <dd name="abstract">{{abstract}}</dd>
            <dt for="content">页面文章</dt>
            <dd name="content">{{content}}</dd>
            <dt for="publishedDate">发布时间</dt>
            <dd name="publishedDate">{{publishedDate}}</dd>
            <dt for="published">是否公开</dt>
            <dd name="published">{{published}}</dd>
             <dt for="file">封面图片</dt>
            <dd name="file"></dd>

        </dl>
        
    </script>
    <script id="news-item-partial" type="text/x-handlebars-template">
    
    <dl class="dl-horizontal">
            <dt name="id" id="id" class="hidden">{{id}}</dt>
            <dt for="title">标题</dt>
            <dd name="title">{{title}}</dd>
            <dt for="link">新闻链接</dt>
            <dd name="link">{{link}}</dd>
            <dt for="abstract">新闻摘要</dt>
            <dd name="abstract">{{abstract}}</dd>
            <dt for="content">新闻文章</dt>
            <dd name="content">{{content}}</dd>
            <dt for="publishedDate">发布时间</dt>
            <dd name="publishedDate">{{publishedDate}}</dd>
            <dt for="published">是否公开</dt>
            <dd name="published">{{published}}</dd>
             <dt for="file">封面图片</dt>
            <dd name="file"></dd>

        </dl>
    </script>
</div>