<div>
    <script id="activity-main-partial" type="text/x-handlebars-template">
        <div class="row justify-content-center repeater-container"></div>
    </script>
    <script id="activity-listItem-partial" type="text/x-handlebars-template">
        <div class="col-xs-12 col-sm-4 col-md-4 item-con">
            <div class="thumbnail lightbox-item item" data-link="{{src}}" data-id="{{id}}" data-toggle="lightbox" data-gallery="activity-gligiallery">
                <img src="{{src}}" class="img-fluid">
            </div>
            <div class="caption text-overflow">
                <h5>{{title}}</h5>
                <p>{{description}}</p>
            </div>
        </div>
    </script>
    <script id="activity-show-partial" type="text/x-handlebars-template">
        <div class="panel-body metusa-wrap">
            <div class="container panel">
                <textarea class="hide"></textarea>
                <section class="case_container">
                    <div class="row">
                        <div class="col-md-12  col-lg-12">
                            <h1 class="col-md-12 col-lg-12" class="" style="font-size: 24px;  color: #b72024;font-weight: normal;">{{title}}</h1>
                            <div class="case_info  col-md-12">
                                <p class="date">{{date}}</p>
                            </div>
                            <div class="col-md-12"><p class="abstract">{{abstract}}</p></div>
                            <div class="col-md-12 col-lg-12 post_overview"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </script>
</div>
