<div>
    <script id="activity-main-partial" type="text/x-handlebars-template">
        <div class="row justify-content-center repeater-container"></div>
    </script>
    <script id="activity-listItem-partial" type="text/x-handlebars-template">
        <div class="repeater-thumbnail item lightbox-item col-sm-4" data-link="{{src}}" data-id="{{id}}" data-toggle="lightbox" data-gallery="activity-gligiallery">
            <img src="{{src}}" class="img-fluid">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
    </script>
</div>
