<div>
    <script id="activity-main-partial" type="text/x-handlebars-template">
        <div class="row justify-content-center repeater-container"></div>
    </script>
    <script id="activity-listItem-partial" type="text/x-handlebars-template">
        <div class="repeater-thumbnail item lightbox-item col-sm-4" data-link="{{src}}" data-id="{{id}}" data-toggle="lightbox" data-gallery="activity-gligiallery">
            <img src="{{src}}" class="img-fluid">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
    </script>
    <script id="activity-show-partial" type="text/x-handlebars-template">
        <div class="metusa-wrap">
            <div class="container panel">
                <textarea class="hide"></textarea>
                <section class="case_container">
                    <div class="row">
                        <div class="col-md-12  col-lg-12">
                            <h1 class="col-md-12 col-lg-12" class="" style="font-size: 24px;  color: #b72024;font-weight: normal;">{{title}}</h1>
                            <div class="case_info  col-md-12">
                                <p class="date">{{date}}</p>
                            </div>
                            <div class="col-md-12"><p class="abstract">{{abstract}}</p></div>
                            <div class="col-md-12 col-lg-12 post_overview"></div>
                            <div class="col-md-12  col-lg-12">
                                <img src="{{imgUrl}}" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </script>
</div>
