<div>
    <script id="course-show-main" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-body metusa-wrap">
                <div class="container panel">
                    <textarea class="hide"></textarea>
                    <section class="case_container">
                        <div class="row">
                            <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="" style="font-size: 24px;  color: #b72024;font-weight: normal;">{{title}}</h1>
                            <div class="case_info  col-md-12">
                                <p class="date">{{date}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12"><p class="abstract">{{abstract}}</p></div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post_overview"></div>
                        </div>
                    </section>
                    <div class="social-share"></div>
                </div>
            </div>
            <div class="panel-footer container">
                {{> next-prev-partial}}
            </div>
        </div>
    </script>
    <script id="courses-listItem-partial" type="text/x-handlebars-template">
        <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8">
            <div class="program-card -desktop-horizontal">
                <div class="program-card__header">
                    <h3 class="program-card__header-title">
                        <a href="/courses/{{id}}" target="_blank" class="program-card__header-title-link">{{title}}</a>
                    </h3>
                </div>
                <a href="/courses/{{id}}" target="_blank" class="program-card__picture" style="background-image: url({{src}});"></a>
                <div class="program-card__content  ">
                    <p class="program-card__content-text">
                        {{abstract}}
                    </p>
                    <div class="program-card__ctas">
                        <a href="/courses/{{id}}"target="_blank" class="program-card__ctas-btn program-card__ctas-btnMagenta">
                            <span>了解更多</span>
                        </a>
        
                    </div>
                </div>
            </div>
        </div>
    </script>


</div>