<div>
    <script id="error-partial" type="text/x-handlebars-template">
        <div class="caption">
            <h3 class="text-danger">系统出错了，请联系管理员！</h3>
        </div>
    </script>
    <script id="photoSwipe-partial" type="text/x-handlebars-template">
        <section class="features photo-container" id="photosContainer">
            <div class="container">
                <div class="section section--head">
                    <div class="row">
                        <div class="items-container">
                            {{#each photos}} {{> photoSwipe-item-partial}} {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>
    <script id="photoSwipe-item-partial" type="text/x-handlebars-template">
        <a href="{{normal}}" data-size="{{size}}" data-med="{{big}}" data-med-size="{{size}}" class="{{imgClass}}">
            <img src="{{mini}}" alt="" />
            <figure>{{desc}}</figure>
        </a>
    </script>

    <script id="gallery-partial" type="text/x-handlebars-template">
        <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>

            <div class="pswp__scroll-wrap">

                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </script>
    <script id="info-list-partial" type="text/x-handlebars-template">
        <div class="wrap fqa-wrap clearfix">
            <div class="container">
                <div class="row ">
                    <div class="col-md-8 left-list">
                        <div class="panel panel-body home-repeater-container repeater-container">
                           
                        </div>
                    </div>
                    <div class="col-md-4 right-list">
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">美国相关资讯推荐</div>
                            <div class="panel-body">
                                {{#each recommended}}
                                <a class="title" href="javascript:go('/{{../routeName}}/{{id}}')" title="{{title}}">{{title}}</a> {{/each}}
                            </div>
                            <div class="panel-footer text-right more"><a href="">查看更多 &gt;&gt;</a></div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">相关推荐</div>
                            <div class="panel-body">
                                {{#each latest}}
                                <a class="title" href="javascript:go('/{{../routeName}}/{{id}}')" title="{{title}}">{{title}}</a> {{/each}}
                            </div>
                            <div class="panel-footer text-right more"><a href="">查看更多 &gt;&gt;</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="modal-partial" type="text/x-handlebars-template">
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="deleteModalLabel">删除</h4>
                    </div>
                    <div class="modal-body">
                        确定要删除当前项？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">删除</a>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="formModalLabel"></h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                        </button>
                        <button type="button" class="btn btn-primary save-btn">
                        保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
         <div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="formModalLabel"></h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                        </button>
                        <button type="button" class="btn btn-primary save-btn">
                        选择
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="contentModalLabel">查看内容</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>