<div>
    <script id="error-partial" type="text/x-handlebars-template">
        <div class="caption">
            <h3 class="text-danger">系统出错了，请联系管理员！</h3>
        </div>
    </script>

    <script id="footerLink-partial" type="text/x-handlebars-template">
        <div class="innner">
            <div class="innerCon clearfix">
                <div class="left clearfix">
                    {{#each snippets}}
                    <div class="same">
                        <h5>{{title}}</h5>
                        {{#each links}} {{#if src}}
                        <a href="{{link}}"><img src="{{src}}"></a>
                        {{else}}
                        <a class="text-overflow" href="{{link}}">{{name}}</a> {{/if}} {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </script>

    <script id="info-list-partial" type="text/x-handlebars-template">
        <div class="wrap {{routeName}}-wrap panel-body clearfix">
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 left-list">
                        <div class="panel panel-body home-repeater-container repeater-container">

                        </div>
                    </div>
                    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 col-md-4 right-list">
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">美国相关资讯推荐</div>
                            <ul class="list-group list-unstyled rec-list">
                                {{#each recommended.news}}
                                <li class="list-group-item text-overflow list-item">
                                    <a class="title" href="/{{../routeName}}/{{id}}" title="{{title}}">{{title}}</a> {{/each}}
                                </li>
                            </ul>
                            <div class="panel-footer text-right more"><a href="/news">查看更多</a></div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">热门文章推荐</div>
                            <ul class="list-group list-unstyled rec-list">
                                {{#each recommended.posts}}
                                <li class="list-group-item text-overflow list-item">
                                    <a class="title" href="/{{../routeName}}/{{id}}" title="{{title}}">{{title}}</a>
                                </li>
                                {{/each}}
                            </ul>
                            <div class="panel-footer text-right more"><a href="/metusa">查看更多</a></div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">热门问答推荐</div>
                            <ul class="list-group list-unstyled rec-list">
                                {{#each recommended.qas}}
                                <li class="list-group-item text-overflow list-item">
                                    <a class="title" href="/{{../routeName}}/{{id}}" title="{{title}}">{{title}}</a> {{/each}}
                                </li>
                            </ul>
                            <div class="panel-footer text-right more"><a href="/fqa">查看更多</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="modal-partial" type="text/x-handlebars-template">
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="deleteModalLabel">删除</h4>
                    </div>
                    <div class="modal-body">
                        确定要删除当前项？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">删除</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="formModalLabel"></h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left btn-full">
                        全屏
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                        </button>
                        <button type="button" class="btn btn-primary save-btn">
                        保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="formModalLabel"></h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left btn-full">
                        全屏
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                        </button>
                        <button type="button" class="btn btn-primary save-btn">
                        选择
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="contentModalLabel">查看内容</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left btn-full">
                        全屏
                        </button>
                        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>