 <div>
     <script id="photoSwipe-partial"  type="text/x-handlebars-template">
         <section class="features photo-container" id="photosContainer">
            <div class="container">
                <div class="section section--head">
                    <div class="row">
                        <div class="items-container">
                            {{#each photos}}
                                {{> photoSwipe-item-partial}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>
    <script id="photoSwipe-item-partial"  type="text/x-handlebars-template">
        <a href="{{normal}}" data-size="{{size}}" data-med="{{big}}" data-med-size="{{size}}" class="{{imgClass}}">
            <img src="{{mini}}" alt="" />
            <figure>{{desc}}</figure>
        </a>
    </script>

    <script id="gallery-partial" type="text/x-handlebars-template">
        <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>

            <div class="pswp__scroll-wrap">

              <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
              </div>

              <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                  <div class="pswp__caption__center">
                  </div>
                </div>
              </div>

            </div>
        </div>
    </script>
    <script id="info-list-partial" type="text/x-handlebars-template">
        <div class="wrap fqa-wrap clearfix">
            <div class="container">
                <div class="row ">
                    <div class="col-md-8 left-list">
                        <div class="panel panel-body">
                            {{#each data}}
                                <div class="media panel-body item">
                                    <div class="media-left col-md-4">
                                        <a href="#">
                                            <img class="media-object" src="{{imgUrl}}" alt="..." style="width:100%;">
                                        </a>
                                    </div>
                                    <div class="media-body media-right">
                                        <h4 class="media-heading">{{title}}</h4>
                                        <p class="text-tip"> {{desc}}</p>
                                        <p class="media-footer"><span>{{date}}</span><span class="pull-right"><i class="glyphicon glyphicon-eye-open icon"></i>{{viewCount}}</span></p>
                                    </div>
                                </div>
                            {{/each }}
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-4 right-list">
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">美国相关资讯推荐</div>
                            <div class="panel-body">
                                {{#each recommended}}
                                    <a class="title" href="" title="{{title}}">{{title}}</a>
                                {{/each}}
                            </div>
                            <div class="panel-footer text-right more"><a href="">查看更多 &gt;&gt;</a></div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">相关推荐</div>
                            <div class="panel-body">
                                {{#each latest}}
                                    <a class="title" href="" title="{{title}}">{{title}}</a>
                                {{/each}}
                            </div>
                            <div class="panel-footer text-right more"><a href="">查看更多 &gt;&gt;</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
