<div>
    <script id="photoSwipe-partial" type="text/x-handlebars-template">
        <section class="features photo-container" id="photosContainer">
            <div class="container">
                <div class="section section--head">
                    <div class="row">
                        <div class="items-container">
                            {{#each photos}} {{> photoSwipe-item-partial}} {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>
    <script id="photoSwipe-item-partial" type="text/x-handlebars-template">
        <a href="{{normal}}" data-size="{{size}}" data-med="{{big}}" data-med-size="{{size}}" class="{{imgClass}}">
            <img src="{{mini}}" alt="" />
            <figure>{{desc}}</figure>
        </a>
    </script>

    <script id="gallery-partial" type="text/x-handlebars-template">
        <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>

            <div class="pswp__scroll-wrap">

                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </script>
    <script id="info-list-partial" type="text/x-handlebars-template">
        <div class="wrap fqa-wrap clearfix">
            <div class="container">
                <div class="row ">
                    <div class="col-md-8 left-list">
                        <div class="panel panel-body">
                            {{#each data}}
                            <div class="media panel-body item article-item" data-id={{id}}>
                                <div class="media-left col-md-4">
                                    <a href="javascript:void(0)">
                                        <img class="media-object" src="{{imgUrl}}" alt="..." style="width:100%;">
                                    </a>
                                </div>
                                <div class="media-body media-right">
                                    <h4 class="media-heading">{{title}}</h4>
                                    <p class="text-tip"> {{desc}}</p>
                                    <p class="media-footer"><span>{{date}}</span><span class="pull-right"><i class="glyphicon glyphicon-eye-open icon"></i>{{viewCount}}</span></p>
                                </div>
                            </div>
                            {{/each }}
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:void(0)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)">5</a></li>
                                    <li>
                                        <a href="javascript:void(0)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-4 right-list">
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">美国相关资讯推荐</div>
                            <div class="panel-body">
                                {{#each recommended}}
                                <a class="title" href="javascript:go('/{{../routeName}}/{{id}}')" title="{{title}}">{{title}}</a> {{/each}}
                            </div>
                            <div class="panel-footer text-right more"><a href="">查看更多 &gt;&gt;</a></div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading list-title">相关推荐</div>
                            <div class="panel-body">
                                {{#each latest}}
                                <a class="title" href="javascript:go('/{{../routeName}}/{{id}}')" title="{{title}}">{{title}}</a> {{/each}}
                            </div>
                            <div class="panel-footer text-right more"><a href="">查看更多 &gt;&gt;</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="modal-partial" type="text/x-handlebars-template">
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="deleteModalLabel">删除</h4>
                    </div>
                    <div class="modal-body">
                        确定要删除当前项？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">删除</a>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="formModalLabel"></h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                        </button>
                        <button type="button" class="btn btn-primary save-btn">
                        保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="contentModalLabel">查看内容</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="date-picker-partial" type="text/x-handlebars-template">
        <div class="col-sm-10 datepicker" data-initialize="datepicker" id="datepickerIllustration">
            <div class="input-group">
                <input class="form-control" id="{{formName}}" type="text" name="{{formName}}">
                <div class="input-group-btn open">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="sr-only">Toggle Calendar</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                        <div class="datepicker-calendar">
                            <div class="datepicker-calendar-header">
                                <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span></button>
                                <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span></button>
                                <button type="button" class="title" data-month="11" data-year="2017">
                                <span class="month">
                                    <span data-month="0">January</span>
                                    <span data-month="1">February</span>
                                    <span data-month="2">March</span>
                                    <span data-month="3">April</span>
                                    <span data-month="4">May</span>
                                    <span data-month="5">June</span>
                                    <span data-month="6">July</span>
                                    <span data-month="7">August</span>
                                    <span data-month="8">September</span>
                                    <span data-month="9">October</span>
                                    <span data-month="10">November</span>
                                    <span data-month="11" class="current">December</span>
                                    </span> <span class="year">2017</span>
                                    </button>
                            </div>
                            <table class="datepicker-calendar-days">
                                <thead>
                                    <tr>
                                        <th>Su</th>
                                        <th>Mo</th>
                                        <th>Tu</th>
                                        <th>We</th>
                                        <th>Th</th>
                                        <th>Fr</th>
                                        <th>Sa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="last-month first past restricted" data-date="26" data-month="10" data-year="2017" title="Restricted"><span><b class="datepicker-date">26</b></span></td>
                                        <td class="last-month past restricted" data-date="27" data-month="10" data-year="2017" title="Restricted"><span><b class="datepicker-date">27</b></span></td>
                                        <td class="last-month past restricted" data-date="28" data-month="10" data-year="2017" title="Restricted"><span><b class="datepicker-date">28</b></span></td>
                                        <td class="last-month past restricted" data-date="29" data-month="10" data-year="2017" title="Restricted"><span><b class="datepicker-date">29</b></span></td>
                                        <td class="last-month past restricted last" data-date="30" data-month="10" data-year="2017" title="Restricted"><span><b class="datepicker-date">30</b></span></td>
                                        <td data-date="1" data-month="11" data-year="2017" class="past restricted" title="Restricted"><span><b class="datepicker-date">1</b></span></td>
                                        <td data-date="2" data-month="11" data-year="2017" class="past restricted" title="Restricted"><span><b class="datepicker-date">2</b></span></td>
                                    </tr>
                                    <tr>
                                        <td data-date="3" data-month="11" data-year="2017" class="past restricted" title="Restricted"><span><b class="datepicker-date">3</b></span></td>
                                        <td data-date="4" data-month="11" data-year="2017" class="past restricted selected" title="Restricted"><span><b class="datepicker-date">4</b></span></td>
                                        <td data-date="5" data-month="11" data-year="2017" class="current-day"><span><button type="button" class="datepicker-date">5</button></span></td>
                                        <td data-date="6" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">6</button></span></td>
                                        <td data-date="7" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">7</button></span></td>
                                        <td data-date="8" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">8</button></span></td>
                                        <td data-date="9" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">9</button></span></td>
                                    </tr>
                                    <tr>
                                        <td data-date="10" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">10</button></span></td>
                                        <td data-date="11" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">11</button></span></td>
                                        <td data-date="12" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">12</button></span></td>
                                        <td data-date="13" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">13</button></span></td>
                                        <td data-date="14" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">14</button></span></td>
                                        <td data-date="15" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">15</button></span></td>
                                        <td data-date="16" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">16</button></span></td>
                                    </tr>
                                    <tr>
                                        <td data-date="17" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">17</button></span></td>
                                        <td data-date="18" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">18</button></span></td>
                                        <td data-date="19" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">19</button></span></td>
                                        <td data-date="20" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">20</button></span></td>
                                        <td data-date="21" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">21</button></span></td>
                                        <td data-date="22" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">22</button></span></td>
                                        <td data-date="23" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">23</button></span></td>
                                    </tr>
                                    <tr>
                                        <td data-date="24" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">24</button></span></td>
                                        <td data-date="25" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">25</button></span></td>
                                        <td data-date="26" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">26</button></span></td>
                                        <td data-date="27" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">27</button></span></td>
                                        <td data-date="28" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">28</button></span></td>
                                        <td data-date="29" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">29</button></span></td>
                                        <td data-date="30" data-month="11" data-year="2017"><span><button type="button" class="datepicker-date">30</button></span></td>
                                    </tr>
                                    <tr>
                                        <td data-date="31" data-month="11" data-year="2017" class="last"><span><button type="button" class="datepicker-date">31</button></span></td>
                                        <td class="next-month first" data-date="1" data-month="0" data-year="2018"><span><button type="button" class="datepicker-date">1</button></span></td>
                                        <td class="next-month" data-date="2" data-month="0" data-year="2018"><span><button type="button" class="datepicker-date">2</button></span></td>
                                        <td class="next-month" data-date="3" data-month="0" data-year="2018"><span><button type="button" class="datepicker-date">3</button></span></td>
                                        <td class="next-month" data-date="4" data-month="0" data-year="2018"><span><button type="button" class="datepicker-date">4</button></span></td>
                                        <td class="next-month" data-date="5" data-month="0" data-year="2018"><span><button type="button" class="datepicker-date">5</button></span></td>
                                        <td class="next-month last" data-date="6" data-month="0" data-year="2018"><span><button type="button" class="datepicker-date">6</button></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="datepicker-calendar-footer">
                                <button type="button" class="datepicker-today">Today</button>
                            </div>
                        </div>
                        <div class="datepicker-wheels" aria-hidden="true" style="display: none;">
                            <div class="datepicker-wheels-month">
                                <h2 class="header">Month</h2>
                                <ul>
                                    <li data-month="0">
                                        <button type="button">Jan</button>
                                    </li>
                                    <li data-month="1">
                                        <button type="button">Feb</button>
                                    </li>
                                    <li data-month="2">
                                        <button type="button">Mar</button>
                                    </li>
                                    <li data-month="3">
                                        <button type="button">Apr</button>
                                    </li>
                                    <li data-month="4">
                                        <button type="button">May</button>
                                    </li>
                                    <li data-month="5">
                                        <button type="button">Jun</button>
                                    </li>
                                    <li data-month="6">
                                        <button type="button">Jul</button>
                                    </li>
                                    <li data-month="7">
                                        <button type="button">Aug</button>
                                    </li>
                                    <li data-month="8">
                                        <button type="button">Sep</button>
                                    </li>
                                    <li data-month="9">
                                        <button type="button">Oct</button>
                                    </li>
                                    <li data-month="10">
                                        <button type="button">Nov</button>
                                    </li>
                                    <li data-month="11">
                                        <button type="button">Dec</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="datepicker-wheels-year">
                                <h2 class="header">Year</h2>
                                <ul></ul>
                            </div>
                            <div class="datepicker-wheels-footer clearfix">
                                <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
                                <button type="button" class="btn datepicker-wheels-select">Select <span class="sr-only">Month and Year</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>