<div>
    <script id="homeDesc-partial" type="text/x-handlebars-template">
    <div class="panel-default">
        <div class="part">
            <h1 class="main_title main_title_eleven">{{title}}</h1>
        </div>
        <div class="part_one panel-body">
            <div class="part_one_main">
                <div class="part_one_con">
                    <div id="one_con" style="margin-top: 30px;">
                        {{{content}}}
                    </div>
                </div>
                <ul id="list" class="row part_one_list">
                    {{#each posts}}
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a target="_blank">
                            <img src="{{src}}">
                        </a>
                        <p>
                            <a target="_blank" href="/metusa/{{id}}">{{title}}</a>
                        </p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    </script>
    <script id="homeDesc-form-partial" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="{{title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="file">选择文章</label>
        <div class="col-sm-10">
            <button class="btn btn-primary select-content-list" data-type="posts" data-action="public_meet" type="button">点击选择</button>
        </div>
    </div>
    </script>
    <script id="homeService-partial" type="text/x-handlebars-template">
    <div class="panel-default our-services">
        <div class="part">
            <h1 class="main_title main_title_two">{{title}}</h1>
        </div>
        <div class="container our-services-con">
            <ul class="panel-body row ">
                {{#each qas}}
                <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12" data-id="{{id}}">
                 <div class="panel li-item" style="">
                    <h2 class="part_two_title">{{title}}</h2>
                    <p class="part_two_row"></p>
                    <p class="part_two_con">
                        <a href="javascript:go('/metusa/{{id}})'">{{abstract}}</a>
                    </p>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        
    </div>
    </script>
    <script id="homeService-form-partial" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="{{title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="file">选择服务</label>
        <div class="col-sm-10">
            <button class="btn btn-primary select-content-list" data-type="qas" type="button">点击选择</button>
        </div>
    </div>
    </script>
    <script id="homeActivity-partial" type="text/x-handlebars-template">
    <div class=" panel-default activity">
        <!-- 在美活动 -->
        <div class="part ">
            <h1 class="main_title main_title_seven">{{title}}</h1>
        </div>
        <div class="container panel-body row active-con">
            <div id="success_left" class="col-md-6 part_seven_left activity-item" data-id="{{first.id}}">
                <img src="{{first.src}}" title="" height="267" width="577">
                <p class="ps_left_title">{{title}}</p>
                <div class="ps_left_con">{{first.abstract}}</div>
            </div>
            <div class="col-md-6 part_seven_right">
                <div  class="ps_right_con">
                    <ul>
                        {{#each activePage}}
                        <li data-id="{{id}}" class="col-md-6 activity-item">
                            <div class="img_img_desc">
                                <img src="{{src}}" height="auto" width="277">
                            </div>
                            <p>{{title}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container find_more">
            <a class="part_five_more part_more" href="javascripts:go('/activity')">查看更多</a>
        </div>
    </div>
    </script>
    <script id="homeActivity-form-partial" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="{{title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="file">选择文章</label>
        <div class="col-sm-10">
            <button class="btn btn-primary select-content-list" data-type="posts" data-action="public_activity" type="button">点击选择</button>
        </div>
    </div>
    </script>
    <script id="homeEnv-partial" type="text/x-handlebars-template">
    <div class="panel-default">
        <div class="part">
            <h1 class="main_title main_title_three">{{title}}</h1>
        </div>
        <div class="container environment-con">
            <ul class="row">
                {{#each posts}}
                    <li class="col-md-4 env-item" data-id="{{id}}">
                        <img src="{{src}}" height="213" width="379">
                        <p style="line-height: 66px;" class="part_four_title">{{title}}</p>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="container find_more">
            <a class="part_four_more part_more" href="javascript:go('/activity')">查看更多</a>
        </div>
    </div>
    </script>
    <script id="homeEnv-form-partial" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="{{title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="file">选择图片</label>
        <div class="col-sm-10">
            <button class="btn btn-primary select-content-list" data-type="posts" data-action="public_env" type="button">点击选择</button>
        </div>
    </div>
    </script>
    <script id="homeVantage-partial" type="text/x-handlebars-template">
    <div class="panel-default">
        <!-- 我们的优势 -->
        <div class="part">
            <h1 class="main_title main_title_three">{{title}}</h1>
        </div>
        <div class="part_three panel-body">
            <p class="part_three_about">
                {{content}}
            </p>
            <div class="part_three_detail">
                <div class="part_three_datailCon detail">
                    <p class="pt_datail_title title">{{first.title}}</p>
                    <div class="pt_datail_con content">{{{first.content}}}</div>
                    <p class="pt_datail_page page">1/6</p>
                </div>
                <ul class="part_three_left">
                    {{#each leftData}}
                    <li class="left-item item" data-index="{{@index}}">
                        <p class="item-title">{{title}}</p>
                        <img src="{{src}}" height="104px" width="104px">
                        <div class="item-content hide">{{{content}}}</div>
                    </li>
                    {{/each}}
                </ul>
                <ul class="part_three_right">
                    {{#each rightData}}
                    <li class="right-item item"  data-index="{{@index}}" data-right="true">
                        <img src="{{src}}" height="104px" width="104px">
                        <p class="item-title">{{title}}</p>
                        <div class="item-content hide">{{{content}}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    </script>
    <script id="homeVantage-form-partial" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="{{title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="file">选择段落内容</label>
        <div class="col-sm-10">
            <button class="btn btn-primary select-content-list" data-type="snippets" type="button">点击选择</button>
        </div>
    </div>
    </script>
    <script id="homeProvide-partial" type="text/x-handlebars-template">
    <div class="panel-default" style="background: url(/assets/images/part10_bg.jpg) no-repeat; background-size: 100% 640px;">
        <!-- 生美国际赴美的五心服务 -->
        <div class="part">
            <h1 class="main_title main_title_ten">BornInUSA 生美贴心服务</h1>
        </div>
        <div class="panel-body">
            <ul class="part_ten">
                {{#each snippets}}
                <li>
                    <img src="{{src}}" height="130" width="130">
                    <p class="part_ten_title">{{title}}</p>
                    <p class="part_ten_main">{{description}}</p>
                    <div class="part_ten_con">{{{content}}}</div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    </script>
    <script id="homeProvide-form-partial" type="text/x-handlebars-template">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="{{title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="file">选择段落内容</label>
        <div class="col-sm-10">
            <button class="btn btn-primary select-content-list" data-type="snippets" type="button">点击选择</button>
        </div>
    </div>
    </script>
    <script id="homeNews-partial" type="text/x-handlebars-template">
    <div class="homenews hidden-xs">
        <!-- 新闻消息 -->
        <div class="container  panel-default homenews-con">
                <div class="homenewsTitle">
                    <span><img src="/assets/images/homenewstitle.png" alt=""></span>
                    <a class="pull-right more" href="javascript:go('/news')">查看更多</a>
                </div>
            
            <div class="tbC">
                <div class="tempWrap">
                    <div class="slidecon">
                        <ul class="list-unstyled row">
                            {{#each news}}
                                <li class="col-md-6 news-item" data-id="{{id}}">
                                    <div class="col-md-6 img ">
                                        <img src="{{src}}" alt="{{title}}">
                                    </div>
                                    <div class="col-md-6 con">
                                        <div class="inner">
                                            <h6 class="slidetitle">{{title}}
                                            <i class="arrowI"></i>
                                            </h6>
                                            <p>{{abstract}} </p>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
    <script id="homeNews-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择新闻</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="news" type="button">点击选择</button>
            </div>
        </div>
    </script>
    <script id="processMain-partial" type="text/x-handlebars-template">
        <div class="histWrap">
            <div class="histLeft">
                {{#each leftData}}
                    {{#if @index}}
                        <dl class="martT cf">
                    {{else}}
                        <dl class="cf">
                    {{/if}}
                        <dt class="fl"><img src="{{src}}" width="140px"/></dt>
                        <dd class="overflow visbit">
                            <span class="hisSpan">{{title}}</span>
                            <p class="posit_p">{{description}}<span class="bgy bgy_p"></span></p>
                        </dd>
                    </dl>
                {{/each}}
            </div>
            <div class="histLeft histrRight">
                {{#each rightData}}
                    {{#if @index}}
                        <dl class="martT cf">
                    {{else}}
                        <dl class="cf">
                    {{/if}}
                        <dt class="fl"><img src="{{src}}" width="140px"/></dt>
                        <dd class="overflow visbit">
                            <span class="hisSpan">{{title}}</span>
                            <p class="posit_p">{{description}}<span class="bgy bgy_p"></span></p>
                        </dd>
                    </dl>
                {{/each}}
            </div>
        </div>
    </script>
    <script id="processMain-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_flow" type="button">点击选择</button>
            </div>
        </div> 
    </script>
    
    <script id="processVisa-partial" type="text/x-handlebars-template">
        <div class="wrapRight-con">
            {{#each snippets}}
                <div class="ywbjTopTitle">
                    <span> {{title}}</span>
                </div>
                <div class="content">{{{content}}}</div>
            {{/each}}
        </div>
    </script>
    <script id="processVisa-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_visa" type="button">点击选择</button>
            </div>
        </div> 
    </script>

    <script id="processHospital-partial" type="text/x-handlebars-template">
        <div class="wrapRight-con">
            <div>{{description}}</div>
            {{#each snippets}}
                <div class="ywbjTopTitle">
                    <span class="">{{title}}</span>
                </div>
                 <div class="content">
                        {{{content}}}
                    </div>
            {{/each}}
        </div>
    </script>
    <script id="processHospital-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
                <textarea class="editable" id="simplemde" name="content">{{content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_hospital" type="button">点击选择</button>
            </div>
        </div> 
    </script>

    <script id="processEnv-partial" type="text/x-handlebars-template">
        <div class="wrapRight-con">
            
        </div>
    </script>
    <script id="processEnvPage-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择文章</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="posts" data-action="public_env" type="button">点击选择</button>
            </div>
        </div> 
    </script>

    <script id="processCertificate-partial" type="text/x-handlebars-template">
        <div class="wrapRight-con">
            <div>{{description}}</div>
            {{#each snippets}}
                <div class="ywbjTopTitle">
                    <span class="">{{title}}</span>
                   
                </div>
                 <div class="content">
                        {{{content}}}
                    </div>
            {{/each}}
        </div>
    </script>
    <script id="processCertificate-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_certificate" type="button">点击选择</button>
            </div>
        </div> 
    </script>
    
    <script id="aboutPage-partial" type="text/x-handlebars-template">
        <div class="mainWrapRight">
            <div class="wrapRight-con">
            {{#each snippets}}
                <div class="ywbjTopTitle">
                    <span class="">{{title}}</span>
                   
                </div>
                 <div class="content">
                        {{{content}}}
                    </div>
            {{/each}}
            </div>
        </div>
    </script>
    <script id="aboutPage-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_about" type="button">点击选择</button>
            </div>
        </div> 
    </script>

    <script id="aboutContact-partial" type="text/x-handlebars-template">
        <div class="layou_title">{{title}}</div>
            <div class="triangle-down marbot25"></div>
            <div class="col-sm-10 col-xs-12 col-clear-padding">
                <div class="mainWrapRight">
                    <div class="wrapRight-con">
                        <div class="ywbjTopTitle"><span>{{title}}</span></div>
                        {{#each snippets}}
                            <div class="ywbjTopTitle">
                                <span class="">{{title}}</span>
                               
                            </div>
                             <div class="content">
                                    {{{content}}}
                                </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="aboutContact-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_contact" type="button">点击选择</button>
            </div>
        </div> 
    </script>
    
    <script id="retServicePage-partial" type="text/x-handlebars-template">
        <div class="row">
            {{#each snippets}}
                <div class="col-md-10 col-md-offset-1 col-xs-6">
                    <h1 style="text-align: center; margin: 15px 0;">{{title}}</h1>
                    <div class="content">{{{content}}}</div>
                </div>
            {{/each}}
        </div>
    </script>
    <script id="retServicePage-form-partial" type="text/x-handlebars-template">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="{{title}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="file">选择段内容</label>
            <div class="col-sm-10">
                <button class="btn btn-primary select-content-list" data-type="snippets" data-action="public_service" type="button">点击选择</button>
            </div>
        </div> 
    </script>
</div>