<div>
    <script id="home-page1-partial" type="text/x-handlebars-template">
    <!-- 主页内容开始 -->
    <div class="bg_one">
        <div class="part">
            <p class="main_title main_title_eleven">生美国际赴美生子</p>
        </div>
        <div class="part_one">
            <div class="part_one_main">
                <div class="part_one_con">
                    <p id="one_con" style="margin-top: 30px;">
                        美国生美国际月子中心，总部位于美国洛杉矶，分布于Rancho Cucamonga和尔湾（Irvine）两地的高级公寓和别墅社区内。2009年开始在美国提供服务，2013年在中国设立客服团队，目前在北京和上海两地有办事处，是一家从中国到美国一站式服务的赴美生子直营机构。
                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;十余种不同套餐，从平民到私人订制，满足客人不同需求。
                    </p>
                </div>
                <ul id="list" class="part_one_list">
                    {{#each attendUsaPage}}
                    <li class="part_one_margin">
                        <a target="_blank"><img src="{{src}}" title="{{title}}" alt="{{title}}" height="216" width="383"></a>
                        <p><a target="_blank" href="{{href}}">{{title}}</a></p>
                    </li>
                    {{/each}}
                </ul>
                <!-- <img class="part_one_city" src="/assets/images/part1_02.png" height="462" width="394"> -->
            </div>
        </div>
    </div>
    </script>
    <script id="home-page2-partial" type="text/x-handlebars-template">
    <!-- 我们的服务 -->
    <div class="bg_two">
        <div class="part">
            <p class="main_title main_title_two">我们的服务</p>
        </div>
        <ul class="part_two">
            {{#each servicePage}}
            <li onclick="javascript:window.open('{{href}}')">
                <div class="pt_li1"></div>
                <p class="part_two_title">{{title}}</p>
                <p class="part_two_row {{serviceClass}}"></p>
                <p class="part_two_con"><a target="_blank" href="{{href}}">{{text}}</a></p>
            </li>
            {{/each}}
        </ul>
    </div>
    </script>
    <script id="home-page3-partial" type="text/x-handlebars-template">
    <!-- 我们的优势 -->
    <div class="bg_three">
        <div class="part">
            <p class="main_title main_title_three">我们的优势</p>
        </div>
        <div class="part_three">
            <p class="part_three_about">
                业界知名专家“洛杉矶胖爸爸”创立，首次提出赴美生子诚实签，倡导安全合法赴美生子，品质保障。国内城市设立办事处，定期全国巡回面对面咨询，让孕妈更加放心安心。
            </p>
            <div class="part_three_detail">
                <div class="part_three_datailCon">
                    <p class="pt_datail_title">直营品牌保障</p>
                    <p class="pt_datail_con">洛杉矶老牌直营月子中心，国内外同一服务团队。正规注册公司，安全有保障。</p>
                    <p class="pt_datail_page">1/6</p>
                </div>
                <ul class="part_three_left">
                    <li class="pt_left_03">
                        <p>赴美生子诚实签</p>
                        <img data-main="3" src="/assets/images/wap_new/img/part3_04.png" height="104px" width="104px">
                    </li>
                    <li class="pt_left_02">
                        <p>一站式定制服务</p>
                        <img data-main="2" src="/assets/images/wap_new/img/part3_02.png" height="104px" width="104px">
                    </li>
                    <li class="pt_left_01">
                        <p>直营品牌保障</p>
                        <img data-main="1" src="/assets/images/wap_new/img/part3_03.png" height="104px" width="104px">
                    </li>
                </ul>
                <ul class="part_three_right">
                    <li class="pt_left_06">
                        <img data-main="4" src="/assets/images/wap_new/img/part3_05.png" height="104px" width="104px">
                        <p>套餐价格多样</p>
                    </li>
                    <li class="pt_left_05">
                        <img data-main="5" src="/assets/images/wap_new/img/part3_06.png" height="104px" width="104px">
                        <p>免费预约服务</p>
                    </li>
                    <li class="pt_left_04">
                        <img data-main="6" src="/assets/images/wap_new/img/part3_07.png" height="104px" width="104px">
                        <p>严保客户隐私</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </script>
    <script id="home-page4-partial" type="text/x-handlebars-template">
    <!-- 月子中心 -->
    <div class="bg_four">
        <div class="part">
            <p class="main_title main_title_three">美国待产环境</p>
        </div>
        <ul class="part_four">
            {{#each environmentPage}}
            <li>
                <a target="_blank" href="{{href}}"><img src="{{imgUrl}}" title="" alt="" height="213" width="379"></a>
                <p style="line-height: 66px;" class="part_four_title">{{text}}</p>
            </li>
            {{/each}}
        </ul>
        <div class="find_more_four">
            <a class="part_four_more part_more" href="/show-3/">查看更多</a>
        </div>
    </div>
    </script>
    <script id="home-page5-partial" type="text/x-handlebars-template">
    <!-- 在美活动 -->
    <div class="bg_seven">
        <div class="part">
            <p class="main_title main_title_seven">在美活动</p>
        </div>
        <div class="part_seven_main">
            <div id="success_left" class="part_seven_left">
                <img src="/assets/images/10361431_IMG_6166.jpeg" title="" height="267" width="577">
                <p class="ps_left_title"><a href="http://www.xiduobaby.com/view-2846-12.html" title="新疆赴美生子生美国际月子中心庆祝美宝满月生个美宝好处多">新疆赴美生子生美国际月子中心庆祝美宝满月</a>
            </p>
            <div class="ps_left_con">洛杉矶生美国际月子中心Rancho Cucamonga别墅里来自新疆乌鲁木齐的赴美产子客人为自家的小美宝庆祝满月啦 ， 妈妈这次是来美国生二宝的， 大宝是位小王子，二宝也是哦，哥俩以后可以一起...</div>
        </div>
        <div class="part_seven_right">
            <!--    <div class="ps_haddleTop"></div> -->
            <div style="margin-top:60px;" class="ps_right_con">
                <ul>
                    <li>
                        <div class="img_img_desc">
                            <a href="http://www.xiduobaby.com/view-6232-12.html" title="内蒙古客人赴美生子后携满月宝宝回国">
                                <img src="http://www.xiduobaby.com/uploads/allimg/171116/1_171116173425_1.png" height="auto" width="277">
                            </a>
                        </div>
                        <a href="http://www.xiduobaby.com/view-6232-12.html" title="内蒙古客人赴美生子后携满月宝宝回国">
                            <p>内蒙古客人赴美生子后携满月宝宝回国</p>
                        </a>
                    </li>
                    <li style="margin-right: 0; margin-bottom: 16px;">
                        <div class="img_img_desc">
                            <a href="http://www.xiduobaby.com/view-6121-12.html" title="都有哪些明星是在美国生的宝宝">
                                <img src="http://www.xiduobaby.com/uploads/allimg/171116/1_171116110851_1.jpg" height="auto" width="277">
                            </a>
                        </div>
                        <a href="http://www.xiduobaby.com/view-6121-12.html" title="都有哪些明星是在美国生的宝宝">
                            <p>都有哪些明星是在美国生的宝宝</p>
                        </a>
                    </li>
                    <li>
                        <div class="img_img_desc">
                            <a href="http://www.xiduobaby.com/view-6076-12.html" title="北京吴小姐二胎赴美生子顺利生产">
                                <img src="http://www.xiduobaby.com/uploads/allimg/171115/1_171115174524_1.png" height="auto" width="277">
                            </a>
                        </div>
                        <a href="http://www.xiduobaby.com/view-6076-12.html" title="北京吴小姐二胎赴美生子顺利生产">
                            <p>北京吴小姐二胎赴美生子顺利生产</p>
                        </a>
                    </li>
                    <li style="margin-right: 0; margin-bottom: 16px;">
                        <div class="img_img_desc">
                            <a href="http://www.xiduobaby.com/view-6075-12.html" title="苏州客人持赴美生子诚实签入境产下女宝">
                                <img src="http://www.xiduobaby.com/uploads/allimg/171115/1_171115173338_1.png" height="auto" width="277">
                            </a>
                        </div>
                        <a href="http://www.xiduobaby.com/view-6075-12.html" title="苏州客人持赴美生子诚实签入境产下女宝">
                            <p>苏州客人持赴美生子诚实签入境产下女宝</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- <div class="ps_haddleBottom"></div> -->
        </div>
        <div class="find_more_five">
            <a class="part_five_more part_more" href="/list-12/">查看更多</a>
        </div>
    </div>
</div>
</script>
    <script id="home-page6-partial" type="text/x-handlebars-template">
<!-- 新闻消息 -->
<div class="homenews hidden-xs">
    <div class="homenewsCon">
        <h5 class="homenewsTitle">
        <span><img src="/assets/images/homenewstitle.png" alt=""></span>
        <a href="javascript:void(0)" class="prev"></a>
        <a href="javascript:void(0)" class="next"></a>
        </h5>
        <div class="tbC">
            <div class="tempWrap">
                <div class="slidecon">
                    <ul class="list-unstyled clearfix">
                        {{#each newsPage}}
                        <li class="clearfix">
                            <a>
                                <div class="con panel-body">
                                    <div class="inner">
                                        <h6 class="slidetitle">{{newsTitle}}<i class="arrowI"></i></h6>
                                        <p>{{newsText}} </p>
                                        <div class="morelink">morelink</div>
                                    </div>
                                </div>
                                <div class="imgright"><img src="{{imgUrl}}" alt=""></div>
                            </a>
                        </li>
                        {{/each}}
                        <li class="clearfix">
                            <a>
                                <div class="imgright"><img src="/assets/images/news/0.png" alt=""></div>
                                <div class="panel-body con">
                                    <div class="inner">
                                        <h6 class="slidetitle">​特朗普VS伊朗：中东或更加动荡 美战略负担将增加<i class="arrowI"></i></h6>
                                        <p>2017年1~9月，中美贸易总额2.89万亿人民币，增长了18.7%，其中中国对美出口增长了16.5%，从美国进口则增长了25%。 </p>
                                        <div class="morelink">morelink</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a>
                                <div class="imgright"><img src="/assets/images/news/0.png" alt=""></div>
                                <div class="panel-body con">
                                    <div class="inner">
                                        <h6 class="slidetitle">​特朗普VS伊朗：中东或更加动荡 美战略负担将增加<i class="arrowI"></i></h6>
                                        <p>2017年1~9月，中美贸易总额2.89万亿人民币，增长了18.7%，其中中国对美出口增长了16.5%，从美国进口则增长了25%。 </p>
                                        <div class="morelink">morelink</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
    <script id="home-page7-partial" type="text/x-handlebars-template">
<!-- 生美国际赴美的五心服务 -->
<div class="bg_ten">
    <div class="part">
        <p class="main_title main_title_ten">BornInUSA 生美贴心服务</p>
    </div>
    <ul class="part_ten">
         {{#each intimateServicePage}}
        <li>
            <img src="{{imgUrl}}" height="130" width="130">
            <p class="part_ten_title">{{title}}</p>
            <p class="part_ten_main">{{text}}</p>
            <p class="part_ten_con">{{con}}</p>
        </li>
         {{/each}}
    </ul>
</div>
</script>
</div>