<div>
    <script id="metusa-show-main" type="text/x-handlebars-template">
    <div class="metusa-wrap">
        <div class="container panel">
            <textarea class="hide"></textarea>
            <section class="case_container">
                <div class="row">
                    <div class="col-md-12  col-lg-12">
                        <h1 class="col-md-12 col-lg-12" class="" style="font-size: 24px;  color: #b72024;font-weight: normal;">{{title}}</h1>
                        <div class="case_info  col-md-12">
                            <p class="date">{{date}}</p>
                        </div>
                        <div class="col-md-12"><p class="abstract">{{abstract}}</p></div>
                        <div class="col-md-12 col-lg-12 post_overview"></div>
                        <div class="col-md-12  col-lg-12">
                            <img src="{{imgUrl}}" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </script>
    <script id="metusa-listItem-partial" type="text/x-handlebars-template">
        <div class="media panel-body item" data-id="{{id}}">
            <div class="media-left col-md-4">
                <a href="{{src}}"><img class="media-object" alt="{{title}}" src="{{src}}"  style="width:100%;"></a>
            </div>
            <div class="media-body media-right">
                <h4 class="media-heading">{{title}}</h4>
                <p class="text-tip"> {{abstract}}</p>
                <p class="media-footer">
                    <span>{{publishedDate}}</span>
                    <span class="pull-right">
                        <i class="glyphicon glyphicon-eye-open icon"></i>
                        {{viewCount}}
                    </span>
                </p>
            </div>
        </div>
    </script>
</div>